@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

::-moz-selection {
    color: black;
    background: rgba(0, 0, 0, 0.096);
}

::selection {
    color: black;
    background: rgba(0, 0, 0, 0.096);
}

select option {
    margin: 40px;
    background: var(--darkish-white);
    color: var(--lite-secondary-color);
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}


html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    border-style: solid;
    border-width: 0;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.w-97 {
    width: 97%;
}

* {
    font-family: "Barlow", sans-serif;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #D9D9D9;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: #eaeaea;
    border-radius: 10px;
}

:root {
    --primary-color: #bd191f;
    --secondary-color: #0a0a0a;
    --lite-secondary-color: #232323;
    --darkish-white: #f5f7fa;
    --black: #000000;
    --white: #ffffff;
    --banner-shade: #542a50;
}

* {
    transition-timing-function: cubic-bezier(0.58, 0.3, 0.005, 1);
}

.bg-primary {
    background-color: var(--primary-color);
}

.bg-secondary {
    background-color: var(--secondary-color);
}

.bg-lite-secondary {
    background-color: var(--lite-secondary-color);
}

.text-primary {
    color: var(--primary-color);
}

.text-secondary {
    color: var(--secondary-color);
}

.text-lite-secondary {
    color: var(--lite-secondary-color);
}

.bg-black {
    background-color: var(--black) !important;
}

.text-black {
    color: var(--black);
}

.bg-white {
    background-color: var(--white);
}

.text-white {
    color: var(--white);
}

.transition {
    transition-timing-function: cubic-bezier(0.58, 0.3, 0.005, 1);
    transition: 0.3s;
}

.sticky {
    position: sticky;
}

.bottom-15 {
    bottom: 15%;
}

.left-full {
    left: 100%;
}

.w-fit-content {
    width: fit-content;
}

.inline {
    display: inline;
}

.inline-block {
    display: inline-block;
}

.skewY-minus-20 {
    transform: skewY(-20deg);
}

.skewY-plus-20 {
    transform: skewY(20deg);
}




.block {
    display: block;
}

.hidden {
    display: none;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-row-reverse {
    flex-direction: row-reverse;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.items-first-baseline {
    align-items: first baseline;
}

.items-start {
    align-items: flex-start;
}

.items-end {
    align-items: flex-end;
}

.rotate-100 {
    rotate: 100deg;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

/* .full-width {
    max-width: 2000px;
    margin-left: auto;
    margin-right: auto;
} */

.z-index-minus-1 {
    z-index: -1;
}


.rounded-full {
    border-radius: 9999px;
}

.select-none {
    user-select: none;
}

.object-cover {
    object-fit: cover;
}

.relative {
    position: relative;
}

.mt-2 {
    margin-top: 2rem;
}

.mt-3 {
    margin-top: 3rem;
}

.mt-4 {
    margin-top: 4rem;
}

.mt-7 {
    margin-top: 7rem;
}

.py-1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.line-height-20px {
    line-height: 20px;
}

.absolute {
    position: absolute;
}

.text-center {
    text-align: center;
}

.text-end {
    text-align: end;
}

.w-full {
    width: 100% !important;
}

.h-full {
    height: 100%;
}

.h-100vh {
    height: 100vh;
}

.text-normalize {
    text-decoration: none;
    list-style: none;
    outline: none;
}

.btn-normalize {
    outline: none !important;
    border: none !important;
    background: transparent;
    text-wrap: nowrap;
    cursor: pointer;
}

.text-wrap {
    text-wrap: wrap;
}

.overflow-hidden {
    overflow: hidden;
}

.gap-03 {
    gap: 0.3rem;
}

.gap-05 {
    gap: 0.5rem;
}

/* 19-11-2024 */
.mb-05-rem {
    margin-bottom: 0.5rem;
}

/* 19-11-2024 */

.gap-1 {
    gap: 1rem;
}

.gap-2 {
    gap: 2rem;
}

.gap-2-3-rem {
    gap: 2.3rem;
}

.gap-5rem {
    gap: 5rem;
}

.gap-3rem {
    gap: 3rem;
}

.mx-06 {
    margin: 0.6rem 0;
}

.max-w-160px {
    max-width: 160px;
}

.translate-Y-35px {
    transform: translateY(-35px);
}

.mt-1 {
    margin-top: 1rem;
}

.mx-1 {
    margin-right: 1rem;
    margin-left: 1rem;
}

.mt-4 {
    margin-top: 4rem;
}

.overflow-hidden {
    overflow: hidden;
}

.max-h-400px {
    max-height: 400px;
}

.max-w-100px {
    max-width: 100px;
}

.mx-auto {
    margin: 0 auto;
}

.mb-2px {
    margin-bottom: 2px;
}

.mb-08rem {
    margin-bottom: 0.8rem;
}

.h-250px {
    height: 250px;
}

.w-250px {
    width: 250px;
}

.py-3 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.mb-03rem {
    margin-top: 0.3rem;
}

.px-15px {
    padding-left: 15px;
    padding-right: 15px;
}

.text-bold {
    font-weight: 600;
}

.w-half {
    width: 50%;
}

.border-box {
    box-sizing: border-box !important;
}

.scale-0 {
    transform: scale(0);
}

.scale-1 {
    transform: scale(1);
}


/* 07 11 2024 */
.mb-4 {
    margin-bottom: 4rem
}

.list-auto {
    list-style: auto;
}

.gap-1-5rem {
    gap: 1.5rem;
}

.gap-2-5rem {
    gap: 2.5rem;
}

.font-600 {
    font-weight: 500;
}

.font-18px {
    font-size: 18px;
}

.letter-spacing-0-5px {
    letter-spacing: 0.5px;
}

.line-height-19px {
    line-height: 19px;
}

/* 07 11 2024 */


/* 11-11-2024 */
button {
    border: none;
    outline: none;
    border-style: solid;
    border-width: 0;
}

.text-900 {
    font-weight: 900 !important;
}

/* 11-11-2024 */



/* 15-11-2024 */
.max-h-90vh {
    max-height: 90vh !important;
}

.font-weight-700 {
    font-weight: 700;
}

.line-height-24px {
    line-height: 24px;
}

/* 15-11-2024 */


/* 29-11-2024 */
.mb-1-5rem {
    margin-bottom: 1.5rem;
}

.my-2rem {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.mb-2rem {
    margin-bottom: 2rem;
}

.cursor-pointer {
    cursor: pointer;
}

.input-btn {
    text-align: left;
    color: #9b9b9b !important;
}

.input-btn-active {
    text-align: left;
}

.gap-4px {
    gap: 4px;
}

.gap-2px {
    gap: 2px;
}

.text-black-important {
    color: var(--black) !important;
}

/* 29-11-2024 */